<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Computadores</H1>
		
		<b:dataTable value="#{computadorMBean.computadorModel}" var="computador">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{computador.equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Tipo</f:facet>
				<h:outputText value="#{computador.tipo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Marca</f:facet>
				<h:outputText value="#{computador.equipamento.marca}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Modelo</f:facet>
				<h:outputText value="#{computador.equipamento.modelo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Sala</f:facet>
				<h:outputText value="#{computador.equipamento.sala}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Prédio</f:facet>
				<h:outputText value="#{computador.equipamento.predio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">SO</f:facet>
				<h:outputText value="#{computador.sistemaOperacional}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<h:form>
					<b:commandButton action="#{computadorMBean.ver}" iconAwesome="file-text" />
					<b:commandButton action="#{computadorMBean.deletar}" icon="trash" />
				</h:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>