.dash_placeholders {
	text-align: center;
	margin: 5% auto 0;
	padding: 0;
	height: 180px;
	width: 180px;
	border-radius: 50%;
}

.dash_placeholders .dash_text {
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.dash_placeholders .dash_text label {
	font-size: 50px;
}

.dash_placeholders .dash_text h4 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
}

.form-signin {
    margin: 0 auto;
    max-width: 400px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}