<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Equipamento</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
				<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{equipamentoMBean.equipamento.patrimonio}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="4" col-xs="12">
					<b:inputText label="Serial" value="#{equipamentoMBean.equipamento.serialNumber}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="4" col-xs="12">
					<b:selectOneMenu label="Tipo" value="#{equipamentoMBean.equipamento.tipo}" converter="tipoEquipamentoConverter" disabled="#{equipamentoMBean.editarDesativado}" >
						<f:selectItems value="#{equipamentoMBean.tiposEquipamento}" var="tipo" itemLabel="#{tipo.toString()}" />
					</b:selectOneMenu>
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{equipamentoMBean.equipamento.modelo}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{equipamentoMBean.equipamento.marca}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{equipamentoMBean.equipamento.predio}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{equipamentoMBean.equipamento.sala}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{equipamentoMBean.equipamento.dataCompra}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{equipamentoMBean.equipamento.dataSubstituicao}" disabled="#{equipamentoMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{equipamentoMBean.equipamento.garantia}" disabled="#{equipamentoMBean.editarDesativado}" >
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{equipamentoMBean.salvar}" rendered="#{equipamentoMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{equipamentoMBean.editar}" rendered="#{equipamentoMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{equipamentoMBean.listarTodos}" />
				</b:column>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>