<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Equipamentos</H1>
		
		<b:dataTable value="#{equipamentoMBean.equipamentoModel}" var="equipamento">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Marca</f:facet>
				<h:outputText value="#{equipamento.marca}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Modelo</f:facet>
				<h:outputText value="#{equipamento.modelo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Tipo</f:facet>
				<h:outputText value="#{equipamento.tipo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<b:form>
					<b:commandButton action="#{equipamentoMBean.ver}" iconAwesome="file-text"/>
					<b:commandButton action="#{equipamentoMBean.deletar}" icon="trash"/>
				</b:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>