<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Switch</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
				<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{switchMBean.switche.equipamento.patrimonio}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Serial" value="#{switchMBean.switche.equipamento.serialNumber}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{switchMBean.switche.equipamento.modelo}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{switchMBean.switche.equipamento.marca}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{switchMBean.switche.equipamento.predio}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{switchMBean.switche.equipamento.sala}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{switchMBean.switche.equipamento.dataCompra}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{switchMBean.switche.equipamento.dataSubstituicao}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{switchMBean.switche.equipamento.garantia}" disabled="#{switchMBean.editarDesativado}" >
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="4">
					<b:inputText label="Portas" type="number" value="#{switchMBean.switche.portas}" disabled="#{switchMBean.editarDesativado}">
						<f:facet name="append">
							<h:outputText value="Portas" />
						</f:facet>
					</b:inputText>
				</b:column>
				
				<b:column col-xs="4">
					<b:inputText label="Rack" type="number" value="#{switchMBean.switche.rack}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="4">
					<b:inputText label="Nome" value="#{switchMBean.switche.nome}" disabled="#{switchMBean.editarDesativado}" />
				</b:column>
			</b:row>
						
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{switchMBean.salvar}" rendered="#{switchMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{switchMBean.editar}" rendered="#{switchMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{switchMBean.listarSwitch}" />
				</b:column>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>