<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Switches</H1>
		
		<b:dataTable value="#{switchMBean.switchModel}" var="switch">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{switch.equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Marca</f:facet>
				<h:outputText value="#{switch.equipamento.marca}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Modelo</f:facet>
				<h:outputText value="#{switch.equipamento.modelo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Portas</f:facet>
				<h:outputText value="#{switch.portas}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Prédio</f:facet>
				<h:outputText value="#{switch.equipamento.predio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Rack</f:facet>
				<h:outputText value="#{switch.rack}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<h:form>
					<b:commandButton action="#{switchMBean.ver}" iconAwesome="file-text" />
					<b:commandButton action="#{switchMBean.deletar}" icon="trash" />
				</h:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>