<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Documentação CTI/CM</title>
	<link type="text/css" rel="stylesheet" href="/DocRede/css/style.css"/>
</h:head>

<h:body lang="pt">
	<b:navBar brand="Home" brandHref="/DocRede/paginas/" fixed="true">
		<b:form>
			<b:navbarLinks>
				<b:dropMenu value="Cadastro" >
					<b:dropMenu value="Computador">
						<b:navCommandLink value="Computador" action="#{computadorMBean.formComputador}" />
						<b:navCommandLink value="Servidor" action="#{servidorMBean.formServidor}" />
					</b:dropMenu>
					<b:navCommandLink value="Switch" action="#{switchMBean.formSwitch}" />
					<b:navCommandLink value="Impressora" action="#{impressoraMBean.formImpressora}" />
					<b:navCommandLink value="Ramal" action="#{ramalMBean.formRamal}" />
					<b:navCommandLink value="Projetor" action="#{projetorMBean.formProjetor}" />
					<b:navCommandLink value="Outros" action="#{equipamentoMBean.formEquipamento}" />
				</b:dropMenu>
				
				<b:dropMenu value="Listagem" >
					<b:dropMenu value="Computador">
						<b:navCommandLink value="Computador" action="#{computadorMBean.listarComputador}" />
						<b:navCommandLink value="Servidor" action="#{servidorMBean.listarServidor}" />
					</b:dropMenu>
					<b:navCommandLink value="Switch" action="#{switchMBean.listarSwitch}" />
					<b:navCommandLink value="Impressora" action="#{impressoraMBean.listarImpressora}" />
					<b:navCommandLink value="Ramal" action="#{ramalMBean.listarRamal}" />
					<b:navCommandLink value="Projetor" action="#{projetorMBean.listarProjetor}" />
					<b:navCommandLink value="Outros" action="#{equipamentoMBean.listarOutros}" />
					<b:navCommandLink value="Todos" action="#{equipamentoMBean.listarTodos}" />
				</b:dropMenu>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navCommandLink iconAwesome="power-off" tooltip="Sair"  value=" " action="#{usuarioMBean.sair}" />
			</b:navbarLinks>
		</b:form>
	</b:navBar>

	<b:container id="content" class="">
		<ui:insert name="conteudo">
		
		</ui:insert>
	</b:container>
</h:body>
</html>