<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Impressora</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
				<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{impressoraMBean.impressora.equipamento.patrimonio}"  disabled="#{impressoraMBean.editarDesativado}"/>
				</b:column>
				
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Serial" value="#{impressoraMBean.impressora.equipamento.serialNumber}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{impressoraMBean.impressora.equipamento.modelo}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{impressoraMBean.impressora.equipamento.marca}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{impressoraMBean.impressora.equipamento.predio}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{impressoraMBean.impressora.equipamento.sala}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{impressoraMBean.impressora.equipamento.dataCompra}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{impressoraMBean.impressora.equipamento.dataSubstituicao}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{impressoraMBean.impressora.equipamento.garantia}"  disabled="#{impressoraMBean.editarDesativado}">
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Nome" value="#{impressoraMBean.impressora.nome}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="2" col-xs="6">
					<b:switch off-text="NÃO" on-text="SIM" label="Ativa" value="#{impressoraMBean.impressora.ativa}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="2" col-xs="6">
					<b:switch off-text="NÃO" on-text="SIM" label="Colorida" value="#{impressoraMBean.impressora.colorida}"  disabled="#{impressoraMBean.editarDesativado}" />
				</b:column>
			</b:row>
						
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{impressoraMBean.salvar}" rendered="#{impressoraMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{impressoraMBean.editar}" rendered="#{impressoraMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{impressoraMBean.listarImpressora}" />
				</b:column>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>