<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Impressoras</H1>
		
		<b:dataTable value="#{impressoraMBean.impressoraModel}" var="impressora">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{impressora.equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{impressora.nome}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Marca</f:facet>
				<h:outputText value="#{impressora.equipamento.marca}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Modelo</f:facet>
				<h:outputText value="#{impressora.equipamento.modelo}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Sala</f:facet>
				<h:outputText value="#{impressora.equipamento.sala}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Prédio</f:facet>
				<h:outputText value="#{impressora.equipamento.predio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Colorida</f:facet>
				<b:switch off-text="NÃO" on-text="SIM" value="#{impressora.colorida}" disabled="true" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Ativa</f:facet>
				<b:switch off-text="NÃO" on-text="SIM" value="#{impressora.ativa}" disabled="true" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<h:form>
					<b:commandButton action="#{impressoraMBean.ver}" iconAwesome="file-text" />
					<b:commandButton action="#{impressoraMBean.deletar}" icon="trash" />
				</h:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>