<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Documentação CTI/CM</title>
	<link type="text/css" rel="stylesheet" href="/DocRede/css/style.css"/>
</h:head>

<h:body lang="pt">
	<b:container>
		<b:messages />
		<b:form  style-class="form-signin vertical-center">
			<b:well style-class="inverse">
				<h1 style="text-align:center;margin-top: 0;margin-bottom:21px;">Login</h1>
				<b:inputText placeholder="Usuário" value="#{usuarioMBean.login}" requiredMessage="Nome de usuário necessário" required="true">
					<f:facet name="prepend"><b:iconAwesome name="user"/></f:facet>
				</b:inputText>
				
				<b:inputSecret placeholder="Senha" value="#{usuarioMBean.senha}" requiredMessage="Senha necessária" required="true">
					<f:facet  name="prepend"><b:iconAwesome name="key" /></f:facet>
				</b:inputSecret>
				
				<b:commandButton style-class="btn-block" size="lg" value="Entrar" action="#{usuarioMBean.entrar}" look="primary" icon="log-in" />
			</b:well>
		</b:form>
	</b:container>
</h:body>
</html>