<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Projetor</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
				<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{projetorMBean.projetor.equipamento.patrimonio}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Serial" value="#{projetorMBean.projetor.equipamento.serialNumber}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{projetorMBean.projetor.equipamento.modelo}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{projetorMBean.projetor.equipamento.marca}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{projetorMBean.projetor.equipamento.predio}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{projetorMBean.projetor.equipamento.sala}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{projetorMBean.projetor.equipamento.dataCompra}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{projetorMBean.projetor.equipamento.dataSubstituicao}" disabled="#{projetorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{projetorMBean.projetor.equipamento.garantia}" disabled="#{projetorMBean.editarDesativado}">
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
						
			<b:row><b:column col-lg="12"><b:inputText label="Nome" value="#{projetorMBean.projetor.nome}" disabled="#{projetorMBean.editarDesativado}" /></b:column></b:row>
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{projetorMBean.salvar}" rendered="#{projetorMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{projetorMBean.editar}" rendered="#{projetorMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{projetorMBean.listarProjetor}" />
				</b:column>
			</b:row>
		</b:form>
		
	</ui:define>
</ui:composition>