<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Inventário de TI</H1>
		
		<b:row>
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-primary">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('COMPUTADOR')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Computadores</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-success">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('SWITCH')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Switches</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-info">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('RAMAL')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Ramais</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-primary">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('IMPRESSORA')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Impressoras</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-success">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('CAMERA')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Cameras</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-info">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('GATEWAY')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Gateways</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-primary">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('NOBREAK')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Nobreaks</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-success">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('ESTABILIZADOR')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Estabilizadores</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-info">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('ACESSPOINT')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>APs</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-primary">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('MONITOR')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Monitores</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-success">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('PROJETOR')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>Projetores</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
			
			<b:column col-lg="2" col-md="3" col-sm="4" col-xs="12">
				<div class="dash_placeholders bg-info">
					<div class="dash_text">
						<h:outputLabel value="#{equipamentoMBean.contarEquipamentos('STORAGE')}" /> <!-- NÚMERO DISPOSITIVOS -->
						<H4>STORAGE</H4> <!-- NOME DO DISPOSITIVO -->
					</div>
				</div>
			</b:column>
		</b:row>
	</ui:define>
</ui:composition>