<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Ramal</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
					<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{ramalMBean.ramal.equipamento.patrimonio}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Serial" value="#{ramalMBean.ramal.equipamento.serialNumber}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{ramalMBean.ramal.equipamento.modelo}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{ramalMBean.ramal.equipamento.marca}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{ramalMBean.ramal.equipamento.predio}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{ramalMBean.ramal.equipamento.sala}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{ramalMBean.ramal.equipamento.dataCompra}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{ramalMBean.ramal.equipamento.dataSubstituicao}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{ramalMBean.ramal.equipamento.garantia}" disabled="#{ramalMBean.editarDesativado}">
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="9">
					<b:inputText label="Numero" type="number" value="#{ramalMBean.ramal.numero}" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="3">
					<b:switch label="Ativo" value="#{ramalMBean.ramal.ativo}" off-text="NÃO" on-text="SIM" disabled="#{ramalMBean.editarDesativado}" />
				</b:column>
			</b:row>
						
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{ramalMBean.salvar}" rendered="#{ramalMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{ramalMBean.editar}" rendered="#{ramalMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{ramalMBean.listarRamal}" />
				</b:column>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>