<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Ramais</H1>
		
		<b:dataTable value="#{ramalMBean.ramalModel}" var="ramal">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{ramal.equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Numero</f:facet>
				<h:outputText value="#{ramal.numero}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Ativo</f:facet>
				<b:switch value="#{ramal.ativo}" off-text="NÃO" on-text="SIM" disabled="true" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Sala</f:facet>
				<h:outputText value="#{ramal.equipamento.sala}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Prédio</f:facet>
				<h:outputText value="#{ramal.equipamento.predio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<h:form>
					<b:commandButton action="#{ramalMBean.ver}" iconAwesome="file-text" />
					<b:commandButton action="#{ramalMBean.deletar}" icon="trash" />
				</h:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>