<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Formulário de Servidor</H1>
		<b:messages />
		<b:form>
			<b:row>
				<b:column col-sm="4" col-xs="12">
				<b:inputText label="Patrimônio" type="number" required-message="Insira um patrimônio" value="#{servidorMBean.servidor.computador.equipamento.patrimonio}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="8" col-xs="12">
					<b:inputText label="Serial" value="#{servidorMBean.servidor.computador.equipamento.serialNumber}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Modelo" value="#{servidorMBean.servidor.computador.equipamento.modelo}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Marca" value="#{servidorMBean.servidor.computador.equipamento.marca}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Prédio" value="#{servidorMBean.servidor.computador.equipamento.predio}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="6" col-xs="12">
					<b:inputText label="Sala" value="#{servidorMBean.servidor.computador.equipamento.sala}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Compra" value="#{servidorMBean.servidor.computador.equipamento.dataCompra}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="6" col-sm="4">
					<b:datepicker label="Data de Substituição" value="#{servidorMBean.servidor.computador.equipamento.dataSubstituicao}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-xs="12" col-sm="4">
					<b:inputText label="Garantia" type="number" value="#{servidorMBean.servidor.computador.equipamento.garantia}" disabled="#{servidorMBean.editarDesativado}" >
						<f:facet name="append">
							<h:outputText value="Anos" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>
						
			<b:row>
				<b:column col-sm="5" col-xs="12">
					<b:inputText label="Nome" value="#{servidorMBean.servidor.computador.nome}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="5" col-xs="9">
					<b:inputText label="SO" value="#{servidorMBean.servidor.computador.sistemaOperacional}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
				
				<b:column col-sm="2" col-xs="3">
					<b:switch off-text="NÃO" on-text="SIM" label="Virtual" value="#{servidorMBean.servidor.virtual}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-lg="12">
					<b:inputText label="Serviços" value="#{servidorMBean.servidor.servicos}" disabled="#{servidorMBean.editarDesativado}" />
				</b:column>
			</b:row>
			
			<b:row>
				<b:column col-lg="12">
					<b:commandButton look="primary" icon="save" value="Salvar" action="#{servidorMBean.salvar}" rendered="#{servidorMBean.editarDesativado == false}" />
					<b:commandButton look="primary" icon="edit" value="Editar" action="#{servidorMBean.editar}" rendered="#{servidorMBean.editarDesativado}" />
					<b:commandButton icon="backward"  value="Voltar" action="#{servidorMBean.listarServidor}" />
				</b:column>
			</b:row>
		</b:form>
		
		
	</ui:define>
</ui:composition>