<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/template.xhtml">

	<ui:define name="conteudo">
		<H1>Servidores</H1>
		
		<b:dataTable value="#{servidorMBean.servidorModel}" var="servidor">
			<b:dataTableColumn>
				<f:facet name="header">Patrimônio</f:facet>
				<h:outputText value="#{servidor.computador.equipamento.patrimonio}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{servidor.computador.nome}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">SO</f:facet>
				<h:outputText value="#{servidor.computador.sistemaOperacional}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Serviços</f:facet>
				<h:outputText value="#{servidor.servicos}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Virtual</f:facet>
				<b:switch off-text="NÃO" on-text="SIM" disabled="true" value="#{servidor.virtual}" />
			</b:dataTableColumn>
			
			<b:dataTableColumn>
				<f:facet name="header">Opções</f:facet>
				<h:form>
					<b:commandButton action="#{servidorMBean.ver}" iconAwesome="file-text" />
					<b:commandButton action="#{servidorMBean.deletar}" icon="trash" />
				</h:form>
			</b:dataTableColumn>
		</b:dataTable>
	</ui:define>
</ui:composition>